body {
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  z-index: 3;
  gap: 20px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  padding: 183px 0 0 80px;
  z-index: 2;
}
.header_span {
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 28px 0 0 80px;
}

/* Imagem principal */
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

/* .header__footer {
  position: relative;
  margin-top: auto;
  width: 100%;

  box-sizing: border-box;
}

.header__schedule {
  position: absolute;
  left: 80px;
  bottom: 30px;
}
.header__address {
  right: 80px;
  bottom: 30px;
} */

.header__footer {
  margin-top: auto;
  position: relative; /* Define a base para posicionamento absoluto dos filhos */
  z-index: 3;
  box-sizing: border-box;
}

.header__footer_content {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule {
  position: absolute;
  left: 80px; /* 80px da esquerda */
  bottom: 40px; /* 30px do fundo */
}

.header__address {
  position: absolute;
  right: 80px; /* 80px da direita */
  bottom: 40px; /* 30px do fundo */
}
.header__footer_span {
  display: block;
}

.content {
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  box-sizing: border-box;
  color: #ffffff;
}

.recipes__title {
  padding: 100px 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  padding: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipe__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0 215px 0;
}

.recipe__video__iframe {
  height: 273px;
  width: 480px;
}

.recipe__video_caption {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
