body {
  /* Pode deixar vazio ou adicionar estilos globais, se necessário */
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.header__nav-logo {
  width: 105px;
  height: 39px;
}

.header__nav-links {
  display: flex;
  list-style-type: none;
  z-index: 3;
  gap: 20px;
}

.header__nav-item {
  /* Estilo para cada item de navegação */
}

.header__nav-link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin: 183px 10px 0 80px;
  z-index: 3;
}

.header__title-accent {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__footer {
  z-index: 3;
  box-sizing: border-box;
  margin-top: auto;
  padding: 40px 80px;
}

.header__footer-content {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer-schedule {
  display: flex;
  flex-direction: column;
}

.header__schedule-detail {
  margin: 0;
}

.header__address {
  margin-top: auto;
  text-align: right;
}

.main-content {
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  box-sizing: border-box;
  color: #ffffff;
}

.main-content__recipes {
  padding: 100px 0 0 80px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  padding: 24px 0 0 0;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0 215px 0;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.main-content__reservation {
  /* Classe para seção de reserva */
}

.footer {
  /* Classe para o footer */
}
